# See wiki/dotenv-bot-secret.md

# Telegram bot token
BOT_TOKEN=<bot-token>

# LMS API
LMS_API_BASE_URL=http://localhost:42002
LMS_API_KEY=<lms-api-key>

# LLM API
LLM_API_MODEL=Qwen/Qwen3-235B-A22B-Instruct-2507
LLM_API_KEY=<llm-api-key>
LLM_API_BASE_URL=http://localhost:42005/v1
